.chat-message-item{
  display: flex;
  justify-content:space-between ;
  margin-bottom: 15px;
  padding: 5px 20px;
  &.myself{
    flex-direction: row-reverse;
    .chat-message-avatar {
      margin-right: 0;
      margin-left: 16px;
    }
  }
  .chat-message-avatar {
    width: 50px;
    height: 50px;
    color: #333;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    .chat-message-avatar-img {
      width: 26px;
      height: 26px;
      border-radius: 6px;
    }
  } 
  .chat-message-content{
    flex-grow: 1;
    .chat-message-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.myself{
        flex-direction: row-reverse;
        .chat-message-receiver {
          text-align: right;
        }
      }
      .chat-message-receiver {
        flex-grow: 1;
        text-align: left;
        >span {
          margin:0 5px;
          color: #ccc;
        }
        >a {
          text-decoration: none;
          color: #2da5ff;
        }
      }
      .chat-message-time {
        max-width: 100px;
        color: #ccc;
      }
    }
    .chat-message-text-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .chat-message-text {
        padding: 8px 10px;
        border-radius: 8px;
        background: rgba(82,82,128,0.09);
        color: #333;
        font-size: 13px;
        margin-bottom: 8px;
      }
      &.myself {
        align-items: flex-end;
        .chat-message-text {
          background: #deedfd;
        }
      }

    }
  }
}