.CameraManager {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: 30vh;
  background: #000;
  padding: 10px;
  box-sizing: border-box;

  &__close {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 11;
  }
}
